<% include ../navbar/accountant %>
<br>
<div class="container">
  <div class="row">
    <div class="col xl12">
      <div class="row">
        <div class="row">
          <h6 class="green-text"><% include ../messages/success%></h6>
          <h6 class="red-text"><% include ../messages/danger%></h6>
          <div class="input-field col s12">
            <input id="searchInput" type="text" placeholder="search by date">
            <label for="searchInput">Search</label>
          </div>
        </div>
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>Weeks</th>
              <th>Amount</th>
              <th>Date Time Created</th>
              <th>Date Time Updated</th>
              <th>Username</th>
              <th></th>
            </tr>
          </thead>

          <tbody id="searchTable">
            <% weeklyAccount.forEach((weeklyAccount) => {%>
            <tr>
              <td><%= weeklyAccount.week_name %></td>
              <td><%= weeklyAccount.amount %></td>
              <td><%= weeklyAccount.createdAt.toISOString() %></td>
              <td><%= weeklyAccount.updatedAt.toISOString() %></td>
              <td><%= weeklyAccount.username %></td>
              <td>
                <a href="/accountant/weeklyAccount/edit/<%= weeklyAccount._id %>" class="black-text">
                  <i class="material-icons">edit</i>
                </a>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>