<% include ../../navbar/ict %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h6>Manage Employee</h6>
        <div style="text-align: center;">
          <h6 class="green-text"><% include ../../messages/success %></h6>
          <h6 class="red-text"><% include ../../messages/danger %></h6>
        </div>
        <div class="input-field col s12">
          <input id="searchInput" type="text" placeholder="search employee">
          <label for="searchInput">Search</label>
        </div>
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Employee ID</th>
              <th>Email</th>
              <th>Department</th>
              <th>Position</th>
              <th>Status</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody id="searchTable">
            <% employee.forEach((employee) => {%>
            <tr>
              <td><%= employee.employee_name %></td>
              <td><%= employee._id %></td>
              <td><%= employee.email %></td>
              <td><%= employee.department_name  %></td>
              <td><%= employee.position %></td>
              <td><%= employee.status %></td>
              <td>
                <a href="/employee/display/personal-detail/<%= employee._id %>" class="black-text">
                  <i class="material-icons">folder_open</i></a>
              </td>
              <td>
                <a href="/employee/edit/<%= employee._id %>" class="black-text">
                  <i class="material-icons">create</i>
                </a>
              </td>
              <td>
                <a href="/employee/duty-roster/create/<%= employee._id %>" class="black-text">
                  <i class="material-icons">event_note</i>
                </a>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><!-- container -->