<% include ../navbar/frontDesk %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h6>Manage Reservation</h6>
        <h6 class="green-text" style="text-align: center"><% include ../messages/success%></h6>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="searchInput" type="text" placeholder="search">
          <label for="searchInput">Search</label>
        </div>
      </div>

      <div class="row">
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Room</th>
              <th>Check IN</th>
              <th>Check OUT</th>
              <th>Updated</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody id="searchTable">
            <% reservation.forEach((room) => {%>
            <tr>
              <td>
                <%= room._id %>
              </td>
              <td>
                <%= room.name %>
              </td>
              <td>
                <%= room.room_number %>
              </td>
              <td>
                <%= room.createdAt.toLocaleTimeString() %> <br>
                <%= room.check_in %>
              </td>
              <td>
                <%= room.createdAt.toLocaleTimeString() %> <br>
                <%= room.check_out %>
              </td>
              <td>
                <%= room.updatedAt.toLocaleTimeString() %> <br>
                <%= room.updatedAt.toDateString() %>
              </td>
              <td>
                <a href="/guest/reservation/edit/<%= room._id %>" class="btn tooltipped black" data-position="bottom"
                  data-tooltip="Edit Details">
                  <i class="material-icons">edit</i>
                </a>
              </td>
              <td>
                <a href="/guest/reservation/details/<%= room._id %>" class="btn tooltipped black" data-position="bottom"
                  data-tooltip="View Details">
                  <i class="material-icons">folder_open</i>
                </a>
              </td>
              <td>
                <a href="/guest/reservation/delete/<%= room._id %>" class="btn tooltipped black" data-position="bottom"
                  data-tooltip="Delete Details" onclick="return confirm('Please update room number before deleting ?')">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.tooltipped').tooltip();
  });
</script>