<% include ../../navbar/accountant %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h6>Manage Reservation</h6>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="searchInput" type="text" placeholder="search">
          <label for="searchInput">Search</label>
        </div>
      </div>

      <div class="row">
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Room</th>
              <th>Amount</th>
              <th>Check IN</th>
              <th>Check OUT</th>
              <th>Updated</th>
            </tr>
          </thead>

          <tbody id="searchTable">
            <% reservation.forEach((room) => {%>
            <tr>
              <td>
                <%= room.name %>
              </td>
              <td>
                <%= room.room_number %>
              </td>
              <td>
                <%= room.price %>
              </td>
              <td>
                <%= room.createdAt.toLocaleTimeString() %> <br>
                <%= room.check_in %>
              </td>
              <td>
                <%= room.createdAt.toLocaleTimeString() %> <br>
                <%= room.check_out %>
              </td>
              <td>
                <%= room.updatedAt.toLocaleTimeString() %> <br>
                <%= room.updatedAt.toDateString() %>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>