<% include ../navbar/casher %>
<br style="line-height: 100px">

<div class="container">
  <div class="row">
    <div class="col s8 push-s2">
      <form action="/casher/item/order/update" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="order_id" type="hidden" name="order_id" class="validate"
              value="<%= typeof order != 'undefined' ? order._id : '' %>" required>
            <!-- <label for="order_id">Order ID</label> -->
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" name="username" class="validate"
              value="<%= typeof order != 'undefined' ? order.username : '' %>" disabled required>
            <label for="username">Username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select class="validate" name="payment_method" required
              value="<%= typeof order != 'undefined' ? order.payment_method : '' %>">
              <option disabled selected>Choose payment method</option>
              <% payment.forEach((payment) => {%>
              <option value="<%= payment.payment_method %>"><%= payment.payment_method %></option>
              <%})%>
            </select>
            <label>Select Payment method</label>
          </div>
        </div>

        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">
            <%= typeof item != 'undefined' ? 'Submit' : 'Submit' %>
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // selection
  $(document).ready(function () {
    $('select').formSelect();
  });
</script>