<% include ../navbar/casher %>

<br>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="row">
          <h6 class="green-text"><% include ../messages/success%></h6>
          <div class="input-field col s12">
            <input id="searchInput" type="text" placeholder="search by date" autofocus>
            <label for="searchInput">Search</label>
          </div>
        </div>
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>Code</th>
              <th>Item</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Amount</th>
              <th>Payment</th>
              <th>Created</th>
              <th>Username</th>
              <th></th>
            </tr>
          </thead>

          <tbody id="searchTable">
            <% orders.forEach((order) => {%>
            <% order.items.forEach((item) => {%>
            <tr>
              <td class="noShow"><%= order.createdAt.toDateString() %></td>
              <td class="noShow">NGN <%= order.order.totalPrice %></td>
              <td class="noShow"><%= order.payment_method %></td>
              <td class="noShow"><%= order._id %></td>
              <td class="noShow"><%= order.username %></td>

              <!-- fix-->
              <td></td>
              <td><%= item.item.item_name %></td>
              <td><%= item.qty %></td>
              <td><%= item.item.item_price %></td>
              <td><%= item.item_price %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <%})%>
            <tr class="blue">
              <td><b><%= order._id %></b></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b>NGN <%= order.order.totalPrice %></b></td>
              <td><b><%= order.payment_method %></b></td>
              <td><b><%= order.createdAt.toLocaleString() %></b></td>
              <td><b><%= order.username %></b></td>
              <td>
                <a href="/casher/item/order/edit/<%= order._id %>" style="color: black">
                  <i class="material-icons">create</i>
                </a>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>