<% include ../../navbar/accountant %>

<br>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h6>Manage Daily Profit</h6>
        <h6 class="green-text" style="text-align: center"><% include ../../messages/success%></h6>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="searchInput" type="text" placeholder="search by date">
          <label for="searchInput">Search</label>
        </div>
      </div>

      <div class="row">
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>Days</th>
              <th>Amount</th>
              <th>Account Title</th>
              <th>Account Type</th>
              <th>Date Time Created</th>
              <th>Date Time Updated</th>
              <th>Username</th>
              <th></th>
            </tr>
          </thead>

          <tbody id="searchTable">
            <% dayAccount.forEach((dayAccount) => {%>
            <tr>
              <td><%= dayAccount.day_name %></td>
              <td><%= dayAccount.amount %></td>
              <td><%= dayAccount.account_title %></td>
              <td><%= dayAccount.account_type %></td>
              <td><%= dayAccount.createdAt.toLocaleString() %></td>
              <td><%= dayAccount.updatedAt.toLocaleString() %></td>
              <td><%= dayAccount.username %></td>
              <td>
                <a href="/accountant/dayAccount/edit/<%= dayAccount._id %>" class="black-text">
                  <i class="material-icons">edit</i>
                </a>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>