<% include ../navbar/ict %>

<br>
<div class="container">
  <div class="row">
    <div class="col s12 pull-s0">
      <div class="row">
        <div class="row">
          <h6 class="green-text"><% include ../messages/success%></h6>
          <h6 class="red-text"><% include ../messages/danger%></h6>
          <div class="input-field col s12">
            <input id="searchInput" type="text" placeholder="search name qty price category brand">
            <label for="searchInput">Search</label>
          </div>
        </div>
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Item Quantity</th>
              <th>Item Price</th>
              <th>Item Brand</th>
              <th>Item Category</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody id="searchTable">
            <% items.forEach((item) => {%>
            <tr>
              <td><%= item.item_name %></td>
              <td><%= item.item_quantity %></td>
              <td><%= item.item_price %></td>
              <td>
                <a class="black-text" href="/ict/item/display/brand/<%= item.brand_name %>"><%= brand.brand_name %><%= item.brand_name %></a>
              </td>
              <td>
                <a class="black-text" href="/ict/item/display/category/<%= item.category_name %>"><%= item.category_name %></a>
              </td>
              <td>
                <a href="/ict/item/edit/<%= item._id %>" class="black-text">
                  <i class="material-icons">edit</i>
                </a>
              </td>
              <td>
                <a href="/ict/item/delete/<%= item._id %>" class="black-text">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><!-- container -->
