<% include ../../navbar/admin %>

<br>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h6>Manage Orders</h6>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="searchInput" type="text" placeholder="search by date">
          <label for="searchInput">Search</label>
        </div>
      </div>

      <div class="row">
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>Code</th>
              <th>Item</th>
              <th>Qty</th>
              <th>Unit</th>
              <th>Amount</th>
              <th>Payment</th>
              <th>D.T Created</th>
              <th>D.T Updated</th>
              <th>Dep</th>
              <th>Username</th>
            </tr>
          </thead>

          <tbody id="searchTable">
            <% orders.forEach((order) => {%>
            <% order.items.forEach((item) => {%>
            <tr>
              <td></td>
              <td class="noShow"><%= order.createdAt.toDateString() %></td>
              <td class="noShow">NGN <%= order.order.totalPrice %></td>
              <td class="noShow"><%= order.payment_method %></td>
              <td class="noShow"><%= order._id %></td>
              <td class="noShow"><%= order.username %></td>

              <!-- fix-->
              <td><%= item.item.item_name %></td>
              <td><%= item.qty %></td>
              <td><%= item.item.item_price %></td>
              <td><%= item.item_price %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <%})%>
            <tr class="blue">
              <td><b><%= order._id %></b></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b>NGN <%= order.order.totalPrice %></b></td>
              <td><b><%= order.payment_method %></b></td>
              <td><b><%= order.createdAt.toLocaleString() %></b></td>
              <td><b><%= order.updatedAt.toLocaleString() %></b></td>
              <td><b><%= order.department_name %></b></td>
              <td><b><%= order.username %></b></td>
            </tr>
            <%})%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>